* {
  box-sizing: border-box;
  border: 1px solid red;

}

#main {
  width: 18em;
  display: grid;
  grid-gap: 0.1em;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
}

.marco{
  border: 1em solid yellow;
  border-radius: 0.8em;
  padding: 3px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.fantasma {
  background-color: mediumpurple;
}
.titulo {
  position: absolute;
  top: 2em;
  border-top: 1px solid yellow;
  left: 5.4em;
  width: 11.7em;
  height: 2em;
}
.tipo0{
  position: relative;
  padding: 0;
  left: 7.5em;
  width: 4em;
}
.tipo0 h5 {
  position: relative;
  width: auto;
  margin: 0;
  width: 4em;
}
.nombre{
  position: absolute;
  margin: 0;
  top: 0;
}
.tipo1 {
  position: relative;
  width: 1em;
  height: 1em;
  float: right;
  top: -1.1em;
}

.pre {
  position: absolute;
  left: -0.5em;
  top: -1em;
  width: 3em;
  height: 3em;
  border: 2px solid yellow;
  z-index: 2;
  background-color: darkgrey;
}

.foto{
  margin-left: 0.5em;
  margin-right: 0.5em;
  top: 1em;
  position: relative;
  text-align: center;
  margin-top: 10px;
  width: 14em;
  height: 10em;
}
.pokemon{
  position: relative;
  width: 13.5em;
  height: 9.5em;
  border: 5px solid yellow;
}


.texto {
  position: relative;
  width: 15em;

}

.HAB1 h5{
  position: relative;
  text-align: center;
  width: auto;
  height: auto;
  padding-bottom: 0;
  margin-bottom: 0;
}
.HAB1 p{
  position: relative;
  font-size: 12px;
  border-bottom: 1px solid black;
  width: auto;
  height: auto;
  padding-top: 0;
  margin-top: 0.1em;
}
.HAB2 h5{
  position: relative;
  text-align: center;
  width: auto;
  height: auto;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.HAB2 p{
  position: relative;
  font-size: 12px;

  width: auto;
  height: auto;
  padding-bottom: 0;
  margin-bottom: 0.5em;
}
.coste {
  float: right;
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  top: -1.3em;
}
